html, body {
  max-width: 100%;
  overflow: hidden;
}
body {
  margin-top: 50px;
  background-color: #E75050;
}
header {
  height: 51px;
  border-bottom: 3px solid #c0c0c0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f0f0f0;
  font-family: "Courier New";
  z-index: 10;
}
h1 {
  font-size: 40px;
}
.nav {
  display: flex;
  height: 100%;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  font-size: 40px;
}
.nav ul {
  display: flex;
  align-items: center;
}
.nav li {
  padding: 5px;
}
.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 50px;
}
#pages {
  align-items: flex-start;
  height: 100%;
  visibility: visible;
}
#pages li {
  padding-top: 0px;
  height: 100%;
}
#pages .icon {
  display: none;
}
@media screen and (max-width:1300px) {
  #pages :not(.icon) {
    display: none;
  }
  #pages .icon {
    display: block;
  }
  #pages.open :not(.icon) {
    display: block;
  }
  #pages {
    flex-direction: column;
    align-items: flex-end;
  }
}
.nav label {
  display: block;
  height: 100%;
  line-height: 51px;
}
.nav label span {
  display: inline-block;
  background-color: #f0f0f0;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
}
.nav label input {
  visibility: hidden;
  width: 0px;
  height: 0px;
  margin: 0px;
}
.nav input + span{
  transition: all 0.1s ease;
}
.nav input:hover + span {
  background-color: #d7d7d7;
  border-bottom: 3px solid #000000;
  box-shadow: inset 0px -3px 0px #000000;
}
.nav input:checked + span {
  background-color: #c0c0c0;
  border-bottom: 3px solid #000000;
}
#header-title {
  font-color: #FF0000;
}
#slider {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 100%;
}
.container {
  position: absolute;
  width: calc(100% + 17px);
  height: calc(100vh - 54px);
  margin-top: 4px;
  overflow-y: scroll;
}
.row {
  width: 50%;
  margin-left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.row * {
  margin-left: 10px;
}
[id='1'] .row{
  background-color: #FF0000;
}
[id='2'] .row{
  background-color: #00FF00;
}
[id='3'] .row{
  background-color: #0000FF;
}
[id='4'] .row{
  background-color: #FFFF00;
}
[id='5'] .row{
  background-color: #FF00FF;
}
[id='6'] .row{
  background-color: #00FFFF;
}