---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A little bit of info about myself"
  pubDate={new Date("January 21 2021")}
>
  <p>
    Hi! My name is Cameron, and I like to write software, both as a career and
    as a hobby. Most of my experience is in frontend development, but I don't
    consider myself to be a <em>frontend developer</em>. I love all software
    equally!
  </p>
  <p>
    I earned both my M.S. and B.S. in Computer Science from Temple University in
    Philadelphia, as well as a minor in Mathematics. Part of the reason I love
    software so much is that I feel like I'm always learning something new. I
    don't think that will ever get old.
  </p>
  <p>
    I started this page to document what I'm learning at any moment. Hopefully I
    can remember to keep it updated!
  </p>
</Layout>
